.select {
  width: auto;
  height: 100%;
  margin: 30px 0px;
  display: flex;
  flex-direction: column;
  gap: 5px;

  .select_header {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    padding-inline: 15px;
  }

  .tooltip,
  .playlists_total {
    letter-spacing: 1.5px;
    line-height: 25px;
    font-size: 14px;
    padding-inline: 15px;
  }

  .tooltip_warning {
    font-size: calc(10px + 0.25vw);
    font-style: italic;
    background-color: hsla(0, 0%, 96%, 0.2);
    padding: 5px 5px;
    border-radius: 5px;
    width: fit-content;
    margin-inline: 15px;
    margin-bottom: 15px;
  }

  .playlist_selection {
    flex: 1;
    margin: 0px 0px 10px 15px;
    overflow-x: scroll;

    .playlist_wrapper {
      display: flex;
      gap: 10px;

      .playlist {
        border-radius: 10px;
        transition: all 0.3s ease-in-out;
        box-shadow:
          rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
          rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

        &:hover {
          opacity: 0.8;
          cursor: pointer;
          transform: scale(0.9);
        }
      }

      .selected_playlist {
        border: 4px solid hsla(250, 46%, 68%, 1);
      }
    }
  }

  .import_btn {
    text-transform: uppercase;
    letter-spacing: 2.5px;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 10px;
    border: 2px solid rgb(12, 12, 12);
    padding: 5px 60px;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: hsla(250, 46%, 68%, 1) 0px 4px 12px;
    width: fit-content;
    align-self: center;
    font-size: calc(10px + 0.25vw);

    &:hover {
      background-color: rgba(29, 185, 84, 1);
      color: #2b2b2b;
      font-weight: 500;
      letter-spacing: 1.5px;
      box-shadow: rgb(16, 107, 48) 0px 4px 12px;
    }
  }
}

.create {
  width: auto;
  height: 100%;
  margin: 30px 0px;
  display: flex;
  flex-direction: column;
  gap: 5px;

  &_header {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    padding-inline: 15px;
  }

  .playlist_details {
    display: flex;
    margin: 10px 15px;
    gap: 10px;

    .playlist_cover {
      min-width: 100px;
      min-height: 100px;
      border-radius: 10px;
    }
    .playlist_info {
      height: 100%;
      .author_info {
        // styles for author_info class
        display: flex;
        align-items: center;
        gap: 10px;
        padding-bottom: 10px;

        .author_image {
          width: 25px;
          height: 25px;
          border-radius: 10px;
        }

        .author_name {
          font-weight: 300;
        }
      }

      .featured_artists {
        font-weight: 700;
        letter-spacing: 2px;
        width: fit-content;

        h3 {
          margin-bottom: 10px;
        }

        .artists_select {
          display: flex;
          gap: 6px;
          background-color: #171717;
          padding: 10px 10px;
          border-radius: 10px;
          .new_artist_btn {
            border: none;
            background-color: rgb(0, 0, 0);
            color: hsla(0, 0%, 96%, 1);
            width: 40px;
            height: 40px;
            font-size: 32px;
            letter-spacing: 1.5px;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
              background-color: hsla(250, 46%, 58%, 1);
              cursor: pointer;
              letter-spacing: 1px;
              transform: scale(1.05);
            }
          }
          .artist_image_mini {
            width: 40px;
            height: 40px;
            border-radius: 100%;
          }
        }
      }
    }
  }

  .playlist_description {
    padding-inline: 15px;

    h3 {
      font-weight: 700;
      letter-spacing: 2px;
      margin-bottom: 15px;
    }
    p {
      letter-spacing: 2px;
      font-weight: 200;
      line-height: 25px;
      margin-bottom: 10px;
      max-width: 70ch;
      white-space: wrap;
    }
  }

  .playlist_genres {
    padding-inline: 15px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 15px;

    h3 {
      margin-bottom: 10px;
    }

    .genres {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 5px;
      align-items: center;
      justify-content: center;

      .genre {
        background-color: #171717;
        border-radius: 10px;
        min-width: fit-content;
        text-align: center;
        padding: 5px;
      }
    }
  }

  .playlist_purpose {
    padding-inline: 15px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 15px;
    h3 {
      margin-bottom: 10px;
    }
    input {
      border: 2px solid #171717;
      background-color: #353535;
      color: hsla(0, 0%, 96%, 1);
      font-family: 'Syne', sans-serif;
      font-weight: 300;
      letter-spacing: 1.5px;
      padding: 5px 0px 0px 5px;
      width: calc(100% - 10px);
      height: 20px;
      border-radius: 10px;
    }
  }

  .playlist_tracks {
    padding-inline: 15px;

    h3 {
      font-weight: 700;
      letter-spacing: 2px;
      margin-bottom: 15px;
    }

    .tracks {
      max-height: 350px;
      padding-bottom: 15px;
      overflow-y: scroll;
      display: flex;
      flex-direction: column;
      padding: 10px;
      gap: 15px;
      border-radius: 5px;
      box-shadow:
        darken(rgba(50, 50, 93, 0.25), 10%) 0px 30px 60px -12px inset,
        darken(rgba(0, 0, 0, 0.3), 10%) 0px 30px 60px -12px inset;

      .track {
        display: flex;
        align-items: center;
        gap: 10px;

        .track_image {
          width: calc(60px + 1.5vw);
          border-radius: 10px;
          transition: all 0.05s ease-in-out;
        }

        .track_info {
          .track_name {
            font-size: calc(8px + 0.75vw);
            font-weight: 500;
            letter-spacing: 2px;
          }

          .track_artist {
            font-weight: 200;
            letter-spacing: 2px;
            padding-top: 20px;
          }
        }
      }
    }
  }

  .create_btn {
    text-transform: uppercase;
    letter-spacing: 2.5px;
    margin: 0;
    margin-top: 20px;
    padding: 0;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 10px;
    border: 2px solid rgb(12, 12, 12);
    padding: 5px calc(100px + 1.25vw);
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: hsla(250, 46%, 68%, 1) 0px 4px 12px;
    width: fit-content;
    align-self: center;
    font-size: calc(12px + 0.25vw);

    &:hover {
      background-color: rgba(29, 185, 84, 1);
      color: #2b2b2b;
      font-weight: 500;
      letter-spacing: 1.5px;
      box-shadow: rgb(16, 107, 48) 0px 4px 12px;
    }
  }
}
